version: '3.2'
services: 
    mysql-db:
        image: mysql:latest
        command: --default-authentication-plugin=mysql_native_password
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: "password"
            MYSQL_DATABASE: "acamica-db"
        ports:
            - "3306:3306"
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 20s
            retries: 10
    node-server:
        build:
            context: . 
            dockerfile: docker/node-server/Dockerfile
        ports:
            - "3000:3000"
        depends_on:
            - mysql-db
        command: ["./wait-for-it.sh", "mysql-db:3306", "--", "node", "server.js"]