<!doctype html>
<html>

<head>
  <title>Enter payment method information</title>
</head>

<body>
  <h1 for="paymentMethodForm">Please, fill up with your personal data and payment method</h1>
  <form id="paymentMethodForm" action="#" method="post">

    <label for="paymentOptions">Payment options</label>
    <div id="paymentOptions">
      <label for="radio-choice-1">Credit Card</label>
      <input type="radio" name="radio-choice" id="radio-choice-1" tabindex="1" value="choice-1">

      <label for="radio-choice-2">Debit Card</label>
      <input type="radio" name="radio-choice" id="radio-choice-2" tabindex="2" value="choice-2">

      <label for="radio-choice-3">Cash</label>
      <input type="radio" name="radio-choice" id="radio-choice-3" tabindex="3" value="choice-3">

      <label for="radio-choice-4">Transfer</label>
      <input type="radio" name="radio-choice" id="radio-choice-4" tabindex="4" value="choice-4">
    </div>

    <div id="installments">
      <label for="select-choice">Select installments options:</label>
      <select name="select-choice" id="select-choice">
        <option value="Choice 1">1 installment </option>
        <option value="Choice 2">3 installments </option>
        <option value="Choice 3">3 installments </option>
      </select>
    </div>

    <input type="submit" value="Submit">

  </form>
</body>

</html>