<label for="personalInfo"> Personal Informtion </label>
<div id="personalInfo">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="" tabindex="1">
      </div>

      <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" value="" tabindex="2">
      </div>

      <div>
          <label for="name">Career:</label>
          <input type="text" name="career" id="career" value="" tabindex="3">
      </div>

      <div>
          <label for="name">Date of birth:</label>
          <input type="date" name="birth" id="birth" value="" tabindex="4">
      </div>

      <div>
          <label for="name">Phone Number:</label>
          <input type="text" name="phone" id="phone" value="" tabindex="5">
      </div>

      <div>
          <label for="name">Country:</label>
          <input type="text" name="country" id="country" value="" tabindex="6">
      </div>

      <div>
          <label for="name">City:</label>
          <input type="text" name="city" id="city" value="" tabindex="7">
      </div>
</div>